<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular Authentication Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Normal Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/specialEvents" routerLinkActive="active">Members Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
      </li>
    </ul>
    <ul class="navbar-nav">

    </ul>
  </div>
</nav>

<div class="container-fluid min-vh-100">
  <div class="container-lg">
      <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-dark">
  <!-- <p class="mb-0 text-center text-light">Angular Authentication Demo</p> -->
  <div class="footer-copyright text-light text-center py-3">Angular Authentication Demo ©2020 Hire Me! <a href="https://www.linkedin.com/in/janis-karimovs-82a085142/">Janis Karimovs</a> </div> <!-- Copyright -->
</footer>
<!-- Footer -->