<h1 class="mt-4 display-3 text-center">About Application</h1>
<p class="mt-1 mb-0 lead text-center">A demo of user registration and authentication app built with Angular 9.</p>

<div>
   <p class="mt-4 text-center">Navigate to <a href="/events">Normal Content</a> page to view the content available to anyone visiting the page.
    If you go to the <a href="/specialEvents">Members Page</a> you will be redirected to the <a href="/register">Registration</a> page where you can
    create a dummy account, after which you will be redirected to the <a href="/specialEvents">Members Content</a> page with the members content available to you.</p>

    <p class="mt-4 text-center">After you have logged in you are free to navigate through the application without being logged out thanks to an authentication token
        that's been stored in your browser upon authentication.</p>
        
    <p class="mt-4 text-center">The user data is stored in a MongoDB database and is encrypted with 'bcrypt',
        so the passwords are safely stored in the database and not available to anyone, even in the back end of the application.</p>
        
    <h2 class="mt-4 mb-4 display-4 text-center">Stack</h2> 
    <p class="text-center">Node.js</p>
    <p class="text-center">Express.js</p>
    <p class="text-center">Angular 9</p>
    <p class="text-center">MongoDB</p>
    <p class="text-center">jsonwebtoken</p>
    <p class="text-center">bcypt</p>
    <p class="text-center">bootstrap</p>
</div>
