<h1 class="mt-4 display-3 text-center">Register</h1>
<p class="mt-4 mb-0 lead text-center">Create a new dummy account to access the members only content on the "Members Content" page.</p>
<p class="lead mb-0 text-center">For demonstration purposes, you don't actually need to use a real email address.</p><div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input name="email" type="text" class="form-control rouned-0" #emailEl required>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input name="password" type="password" class="form-control rounded-0" #passEl required>
                    </div>
                    <button (click)="registerUser(emailEl.value, passEl.value)" type="button" class="btn btn-primary float-right">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>