<h1 class="mt-4 display-3 text-center">User Login</h1>
<p class="mt-4 mb-0 lead text-center"><a href="/register">Register</a> and log in below to view the content on the members page.</p>
<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Login</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input name="email" type="text" class="form-control rouned-0" #emailEl required>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input name="password" type="password" class="form-control rounded-0" #passEl required>
                    </div>
                    <button (click)="loginUser(emailEl.value, passEl.value)" type="button" class="btn btn-success float-right">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>