<h1 class="mt-4 display-3 text-center">Members Content</h1>
<p class="mt-4 lead text-center">The content on this page is available only to registered users who are currently logged in.</p>
<p class="mt-4 text-center">The server is hosted on a free plan, so it goes to sleep after a certain time of inactivity.
    It might take a moment to fire up again and retrieve the data for you. :)
</p>
<div class="row mt-5">
    <div class="col-md-3 mb-4" *ngFor="let event of specialEvents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">{{event.description}}</p>
                <a href="" onclick="return false;" (click)="eventClick()" class="btn btn-success">Buy Tickets</a>
            </div>
            <div class="card-footer text-muted">
                {{event.date | date:'shortDate'}}
            </div>
        </div>
    </div>
    
    <div class="mt- 4 w-100">
        <p class="text-center">{{msg}}</p> 
    </div>
    
</div>